<div class="container mt-3">
  <div class="flex-wrap pt-2 pb-2 mb-3 d-flex justify-content between flex-md-nowrap align-items-center border-bottom">
      <h1>Book List</h1>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let book of Books; let i = index">
              <td>{{book.name}}</td>
              <td>{{book.price}}</td>
              <td>{{book.description}}</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
