<div class="container">
  <h1 class="text-center">Profile</h1>
  <div class="mx-auto col-md-5">
    <div class="card">
      <form *ngIf="this.User">
        <div class="card-body">
            <div class="form-group">
              <img class="mx-auto rounded w-60 h-65" onerror="this.src='https://www.namepros.com/attachments/empty-png.89209/'" src="{{this.User.img}}" alt="">
              </div>
              <div class="mt-2 form-group">
                <label>Name: {{this.User.name}}</label>
              </div>
              <div class="mt-2 form-group">
                <label>Surname: {{this.User.surname}}</label>
              </div>
              <div class="mt-2 form-group">
                <label>Email: {{this.User.email}}</label>
              </div>
              <div class="mt-2 form-group">
               <label>Sex: {{this.User.sex}}</label>
              </div>
              <div class="mt-2 form-group">
               <label>Age: {{this.User.age}}</label>
              </div>
              <div class="mt-2 form-group">
                <label>BirthDate: {{this.User.BirthDate | date: 'longDate'}}</label>
              </div>
              <div class="mt-2 form-group">
                <label>Address: {{this.User.address}}</label>
              </div>
              <div class="mt-2 form-group">
                <label>Tel: {{this.User.tel}}</label>
              </div>
        </div>
      </form>
      </div>
    </div>
  </div>
