<div *ngIf="alertwrong" class="alert alert-danger alert-dismissible fade show" role="alert">
  Email and Password Wrong!
  <button (click)="alertClose()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div *ngIf="alertnull" class="alert alert-warning alert-dismissible fade show" role="alert">
  Please Write Email and Password!
  <button (click)="alertClose()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div *ngIf="alertsuccess" class="alert alert-success alert-dismissible fade show" role="alert">
  Login Successfully
  <button (click)="alertClose()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="row">
  <div class="mx-auto col-md-4">
      <div class="card">
          <div class="mb-2 card-header">
              <label>Login</label>
          </div>
          <div class="card-body">
              <form (submit)="signIn()">
                  <div class="pb-4 form-group">
                      <input type="text" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" required autofocus>
                  </div>
                  <div class="pb-4 form-group">
                      <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password" required>
                  </div>
                  <button class="w-full btn btn-success btn-block">
                      Login
                  </button>
              </form>
          </div>
      </div>
  </div>
</div>

