<div class="container">
 <div class="justify-center row">
    <div class="mr-4 col-3">
      <div *ngIf="this.Movies">
        <img class="rounded" src="{{this.Movies.img}}" width="320px">
      </div>
    </div>

    <div class="col-md-6">
      <div *ngIf="this.Movies">
        <youtube-player videoId="{{this.Movies.youtubeid}}"
          suggestedQuality="highres"
          [height]="454"
          [width]="0"
          [startSeconds]="4"
          [endSeconds]="300">
        </youtube-player>
      </div>
    </div>
  </div>


</div>

<div class="mt-4 mb-2 ml-2">
  <iframe *ngIf="this.Movies" class="mx-auto"
    [src]="this.sanitizer.bypassSecurityTrustResourceUrl(this.Movies.movieurl)"
    width="978"
    height="550"
    frameborder="0"
    webkitallowfullscreen
    mozallowfullscreen
    allowfullscreen
    scrolling="no">
  </iframe>
</div>












