<div class="flex items-center justify-center">

    <div class="mr-4">
      <div *ngIf="this.Movies">
        <img class="rounded" src="{{this.Movies.img}}" height="100%" width="260px">
      </div>
    </div>

    <div class="mt-4 mb-4">
      <div *ngIf="this.Movies">
        <youtube-player videoId="{{this.Movies.youtubeid}}"
          suggestedQuality="highres"
          [height]="0"
          [width]="0"
          [startSeconds]="4"
          [endSeconds]="300">
        </youtube-player>
      </div>
    </div>

</div>

<div class="mb-2">
  <iframe *ngIf="this.Movies" class="mx-auto"
    [src]="this.sanitizer.bypassSecurityTrustResourceUrl(this.Movies.movieurl)"
    width="915"
    height="550"
    frameborder="0"
    webkitallowfullscreen
    mozallowfullscreen
    allowfullscreen
    scrolling="no">
  </iframe>
</div>












