<div class="row">
  <div class="mx-auto col-md-4">
      <div class="card">
          <div class="mb-2 card-header">
              <label>Register</label>
          </div>
          <div class="card-body">
              <form (submit)="signUp()">
                  <div class="pb-4 form-group">
                      <input type="text" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" required autofocus>
                  </div>
                  <div class="pb-4 form-group">
                      <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password" required>
                  </div>
                  <div class="pb-4 form-group">
                    <input type="text" [(ngModel)]="user.name" name="name" class="form-control" placeholder="Name" required>
                  </div>
                  <div class="pb-4 form-group">
                    <input type="text" [(ngModel)]="user.surname" name="surname" class="form-control" placeholder="Surname" required>
                  </div>
                  <div class="pb-4 form-group">
                    <input type="text" [(ngModel)]="user.age" name="age" class="form-control" placeholder="age" required>
                  </div>
                  <div class="pb-4 form-group">
                    <div class="input-group">
                      <select class="mr-3 form-select" [(ngModel)]="user.sex" name="sex" aria-label="Default select example">
                        <option selected>Select</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="other">other</option>
                      </select>
                      <input class="form-control" placeholder="BirthDate"
                              name="dp" [(ngModel)]="model" ngbDatepicker #date="ngbDatepicker">
                      <button class="btn btn-outline-secondary bi bi-calendar" (click)="date.toggle()" type="button"></button>
                    </div>
                  </div>
                  <div class="pb-4 form-group">
                    <input type="text" [(ngModel)]="user.address" name="address" class="form-control" placeholder="Address" required>
                  </div>
                  <div class="pb-4 form-group">
                    <input type="text" [(ngModel)]="user.tel" name="tel" class="form-control" placeholder="Tel" required>
                  </div>
                  <div class="pb-4 form-group">
                    <input type="text" [(ngModel)]="user.img" name="img" class="form-control" placeholder="Profile Image" required>
                  </div>
                  <button class="w-full btn btn-primary btn-block">
                      Register
                  </button>
              </form>
          </div>
      </div>
  </div>
</div>
