<div class="justify-item-center row">
  <div class="col-md-3" *ngFor="let movie of Movies | paginate: { itemsPerPage: 4, currentPage: p }; index as i">
      <div class="mb-4 w-60 card">
        <img class="card-img-top" onerror="this.src='https://www.namepros.com/attachments/empty-png.89209/'" style="height: 325px; width: 100%; display: block;" src ="{{movie.img}}">
          <div class="card-footer">
            <a class="pt-4 text-2xl font-semibold text-black no-underline stretched-link" routerLink="/playlist/{{movie._id}}">{{movie.name}}</a>
            <p class="pt-2 text-xl">{{movie.description}}</p>
          <div class="text-xs">
            <p> วันที่เพิ่มหนัง: {{movie.createdAt| date: "shortDate"  }}</p>
            <p> เวลาที่เพิ่มหนัง: {{movie.createdAt| date: "shortTime"  }}</p>
          </div>
          </div>
      </div>
  </div>
  <pagination-controls class="pagination" prev-icon="chevron_left" next-icon="chevron_right" previousLabel="Previous" nextLabel="Next" (pageChange)="p = $event"></pagination-controls>
</div>




