<div class="container mt-3">
  <div class="flex-wrap pt-2 pb-2 mb-3 d-flex justify-content between flex-md-nowrap align-items-center border-bottom">
      <h1>Movie List</h1>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">ID of Movie</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Created Date</th>
          <th scope="col">Created Time</th>
          <th class="w-40 h-45" scope="col">Image</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let movie of Movies; let i = index">

              <th scope="row">{{i+1}}</th>
              <td>{{movie._id}}</td>
              <td>{{movie.name}}</td>
              <td>{{movie.description}}</td>
              <td>{{movie.createdAt | date: 'shortDate'}}</td>
              <td>{{movie.createdAt | date: 'shortTime'}}</td>
              <td><img class="w-40 h-45" onerror="this.src='https://www.namepros.com/attachments/empty-png.89209/'" src="{{movie.img}}" alt=""></td>
              <td class="gap-2 text-center d-grid d-md-block">
                <button class="w-16 mb-2 btn btn-sm btn-primary" routerLink="/add-data/{{movie._id}}">Edit</button>
                <button class="w-16 btn btn-sm btn-danger" (click)="deleteMovie(movie._id, i)">Delete</button>
              </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

  <!-- User -->
  <div class="container mt-3">
    <div class="flex-wrap pt-2 pb-2 mb-3 d-flex justify-content between flex-md-nowrap align-items-center border-bottom">
        <h1>User List</h1>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">ID of User</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Tel</th>
            <th class="text-center" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of Users; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{user._id}}</td>
                <td>{{user.email}}</td>
                <td>{{user.password}}</td>
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.tel}}</td>
                <td class="text-center">
                  <button class="btn btn-sm btn-danger" (click)="deleteUser(user._id, i)">Delete</button>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>





